.wrapper {
    width: 596px;
    margin-left: 80px;
    display:flex;
    padding: 20px 0 60px;
};

.body {
    margin-left: 12px;
    margin-top: 8px;
}

.video_loader {
    margin-top: 20px;
}

.circle {
    margin-right: 16px;
}

.wrap1 {
    margin-bottom: 20px;
}




