@import 'normalize.css';

// fonts embeded
@font-face {
    font-family: ProximaNova;
    src: url('/assests/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assests/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assests/fonts/sofiapro-semibold.otf');
    font-weight: 700;
}

:root {
    --default-layout-width : 1150px ;
    --default-layout-horizontal-spacer : 24px ;
    --default-layout-header-height : 60px ;
    --black:#000;
    --text-color:#333;
    --primary: rgba(254, 44, 85, 1);
    --white:#fff;
    --font-family : 'ProximaNova';
    --border-sperate-color: #f0f0f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family:var(--font-family) sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}


.tiktok-19fglm-DivBodyContainer {
    margin-top: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    max-width: 1150px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-size: 14px;
    color: rgba(22, 24, 35, 1);
    background-color: rgba(255, 255, 255, 1);
    overscroll-behavior: contain;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


// scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button, input, [tabIndex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 600;
        padding: 4px;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^=bottom]>.tippy-arrow:before {
        top: -8px;
    }
}
