.login_box {
    display: flex;
    flex-direction: column;
    padding: 20px 8px 10px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 12px;
}

.login_title {
    color: var(--login-box-sidebar-color);
    font-size: 1.6rem;
    font-weight: 100;
}

.login_btn {
    margin-top: 20px;
    padding: 12px 0;

    span {
        font-size: 1.8rem;
        font-weight: 600;
    }
}