.wrapper {
    padding: 24px 0;
    padding-right: var(--default-layout-horizontal-spacer);
    position: relative;
    background-color: var(--background-theme);
}

.loading_icon {
    color: gray;
    position: absolute;
    left: 50%;
    font-size: 2.4rem;
    animation: rotate 0.8s linear infinite;
}



@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
