.menu {
    position: relative;
    padding: 0px 8px 16px 8px;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 8px;
        display: block;
        width: 95%;
        height: 1px;
        background-color: var(--border-sperate-color);
    }
}

.menu_item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: hover 0.4s ease;
    color: var(--text-color);
    font-family:  IBM Plex Sans;

    &:hover {
        background-color: var(--menu-sidebar-hover-background);
    }

    &.active {
        color: var(--primary);
    }
}

.title {
    margin-left: 8px;
    font-weight: 700;
    font-size: 1.8rem;
    user-select: none;
}


