.wrapper {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
        background-color: #f5f5f5;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius:50%;
    object-fit: cover;
    margin-right: 12px;
}

.info {
    flex: 1;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black);
}

.username {
    font-size: 1.4rem;
}

.icon {
    color: rgb(32, 213, 236);
    margin:0 0 2px 6px;
    font-size: 1.4rem;
}