$sideBarWidth : 240px;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--profile-layout-width);
    display: flex;
    margin-top: var(--default-layout-header-height);
}

.header {
    width: 100%;
    padding: 0 18px;
}

.content {
    flex: 1;
    margin-left: $sideBarWidth;
    padding: 32px 24px;
}

.side_bar {
    width: 240px;
}

