.wrapper {
    --search-border-radius: 92px;
    --search-height:46px;
    --search-top-spacer: 9px ;
    --search-bottom-width:52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: var(--box-shadow-header);
    background-color: var(--background-theme);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.content {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 var(--default-layout-horizontal-spacer);
}

.logo_link {
    display: flex;
}

.menu_sub {
    padding: 4px 10px;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;

    .menu_sub-icon {
        margin-left: 20px;
        margin-right: 10px;
    }
}


.actions {
    display: flex;
    align-items: center;
}



.action_btn {
    position: relative;
    background-color: transparent;
    color: var(--text-color);
    padding: 4px 12px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 0;
    background-color: red;
    color: white;
    padding: 2px 4px;
    right: 6px;
    border-radius: 100%;
    font-size: 1.1rem;
}

.user_ava {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.message_icon {
    margin-left: 10px;
}