.volumn_wrap {
    position: relative;
    cursor: pointer;
    background-color: transparent;

    .volumn_types {
        width: 45px;
        background-color: transparent;
        color: white;
        padding: 8px;
        cursor: pointer;
    }
}

.volumn_types.mute .hide{
    opacity: 0;
}


.process {
    right: 12px;
    bottom: 8px;
}





