.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}



.search {
    height: var(--search-height);
    background: var(--search-background);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1px solid transparent;

    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        color: var(--text-color);
        background-color: transparent;
        margin-right: calc(var(--search-bottom-width) - 12px);
        caret-color: var(--primary);
        font-size: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search_btn {
        color:var(--color-search) ;
    }

    input::placeholder {
        color: var(--color-search);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-bottom-width);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: var(--sperate-search-color);
        width: 1px;
    }

    &:focus-within {
        border-color: var(--focus-search-border-color);
    }
}

.search_result {
    .footer {
        font-family: ProximaNova-Nova-Regular;
        color: var(--text-color);
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 20px 16px;
        cursor: pointer;
        
        &:hover {
            background-color: var(--hover-share-option-background)
        }
    }
}

.search, .search_result {
    width:361px ;
}

.popper {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.search_title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    color: var(--heading-search-result-color);
}
.clear, .loading {
    color: var(--clear-search-color);
    background-color: transparent;
    position: absolute;
    right: var(--search-bottom-width);
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    padding: 0 12px;
}

.loading {
    animation:spinner 1s linear infinite  ;
}

@keyframes spinner {
    from  {
        transform:translateY(-50%) rotate(0) ;
    }
    to {
        transform:translateY(-50%) rotate(360deg) ;
    }
}

.search_btn {
    width: var(--search-bottom-width);
    height: 100%;
    border-top-right-radius: var( --search-border-radius);
    border-bottom-right-radius: var( --search-border-radius);
    color: var(--color-search-icon);
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--search-icon-color);

    &:hover {
        background-color: var(--search-btn-background-hover);
        cursor: pointer;
    }

    &:active {
        background-color: var(--search-background);
    }
}


