.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}



.search {
    height: var(--search-height);
    background: #f1f1f2;
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1px solid transparent;

    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        color: var(--black);
        background-color: transparent;
        margin-right: calc(var(--search-bottom-width) - 12px);
        caret-color: red;
        font-size: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search_btn {
        color:rgba(0, 0, 0, 0.75) ;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-bottom-width);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, .12);
        width: 1px;
    }

    &:focus-within {
        border-color: #c5c6c9;
    }
}

.search, .search_result {
    width:361px ;
}

.popper {
    width: 100%;
}

.search_title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
.clear, .loading {
    color: rgba(22, 24, 35, 0.34);
    position: absolute;
    right: var(--search-bottom-width);
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    padding: 0 12px;
}

.loading {
    animation:spinner 1s linear infinite  ;
}

@keyframes spinner {
    from  {
        transform:translateY(-50%) rotate(0) ;
    }
    to {
        transform:translateY(-50%) rotate(360deg) ;
    }
}

.search_btn {
    width: var(--search-bottom-width);
    height: 100%;
    border-top-right-radius: var( --search-border-radius);
    border-bottom-right-radius: var( --search-border-radius);
    color: rgba(86, 88, 95, 0.75);
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgb(235, 235, 235);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(228, 228, 228, 0.801);
    }
}


