.action {
    cursor: pointer;

    .action_btn {
        color:var(--action-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-bottom: 8px;
        background-color: var(--action-background-color);
    }

    .icon {
        font-size: 2rem;
    }

    .amount {
        color: var(--text-color);
        font-size: 1.2rem;
        line-height: 1.7rem;
        text-align: center;
        margin: 4px 0 8px;
    }
}

