$borderInput :1px solid rgba(22, 24, 35, 0.12);
$borderColor :rgba(22, 24, 35, 0.12);
$borderInvalid : var(--primary);

.body_qr {
    display: flex;
    justify-content: space-between;
}


.left_content {
    width: 206px;
    margin-left: 10px;

    .qr_img {
        width: 100%;
        background-color: rgb(240, 240, 240);
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .tips  {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 4px;
    }
}

.right_content {
    width: 210px;
    margin-left: 32px;

    .qr_video {
        width: 105%;
        height: 220px;
    }
}

// form input
.description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.login_with {
    margin-bottom: 12px;
}

.login_type, .login_with {
    user-select: none;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    
    .label {
        color: rgb(22, 24, 35);
        font-weight: 600;
        font-size: 15px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &:hover {
        text-decoration: underline;
    }
}

.phone_input-container {
    display: flex;
    border: $borderInput;
    background-color: #f1f1f2;
    margin-bottom: 10px;
}

.phone_input-container.invalid {
    border: 1px solid $borderInvalid !important;
}

.selection_region {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 12px;
    height: 44px;
    width: 132px;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        background-color: $borderColor;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        height: 70%;
    }
}

.input {
    background-color: #f1f1f2;
    padding-left: 12px;
    font-size: 1.6rem;
    height: 44px;
    width: 100%;
}

.code_input {
    margin-bottom: 9px;
    border: $borderInput;
}

.code_input.invalid {
    border: 1px solid $borderInvalid;
}
 
.form-group {
    background-color: #f1f1f2;
    display: flex;
}

.send_btn {
    padding: 0 16px;
    border-left: 1px solid $borderColor;
    font-weight:600;
    font-size: 1.6rem;
    color: rgb(90, 90, 90)
}

.icon {
    color: $borderColor;
    font-size: 1.6rem;
    padding: 0 20px;
}

.drop_icon {
    transform: rotate(-90deg);
    font-size: 1.2rem;
    position: relative;
    margin-top: -2px;
}

.error_message {
    position: relative;
    display: block;
    font-size: 1.2rem;
    color:var(--primary);
    top: -5px;
}

.button_submit {
    width: 100%;
    height: 46px;
    background-color: var(--primary);
    color: white;

    &:hover {
        background-color: #d11b3e;
    }
}

.password_input {
    margin-bottom: 9px;
    border: $borderInput;
}

.show_password-btn {

}

.message {

}
