.wrapper {
    color: rgba(92, 94, 104, 0.5) ;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2.4rem;
    padding: 8px;
    margin-top: 10px;
   

    a {
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        color: rgba(101, 103, 114, 0.5);
        display: inline-block;
        margin-right: 8px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.link_wrap + .link_wrap{
    margin-top: 12px;
    
}

.link_wrap {
    flex: 1;

}

.poppup_more {
    margin-top: 12px;
}

.coppyright {
    margin-top: 12px;
}