.wrapper {
    color:var(--footer-sidebar-text-color) ;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2.4rem;
    padding: 16px 8px;
    margin-top: 10px;
    position: relative;
   
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 8px;
        display: block;
        width: 95%;
        height: 1px;
        background-color: var(--border-sperate-color);
    }

    a {
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        color: var(--footer-sidebar-text-color) ;
        display: inline-block;
        margin-right: 8px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.link_wrap + .link_wrap{
    margin-top: 12px;
    
}

.link_wrap {
    flex: 1;

}

.poppup_more {
    margin-top: 12px;
}

.coppyright {
    margin-top: 12px;
}