.wrapper {
    width: var(--sidebar-width);   
    top: var(--default-layout-header-height);
    bottom: 0;
    background-color: var(--background-theme);
    padding: 20px 4px 26px 8px;
    overflow-y: scroll;
    position: fixed;
    z-index: 10;

    &::-webkit-scrollbar-thumb {
       width: 8px;
       background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
       background-color: var(--scroll-thumb-background);
    }

}

