.wrapper {
    width: var(--sidebar-width);   
    top: var(--default-layout-header-height);
    bottom: 0;
    background-color: white;
    padding: 20px 4px 26px 8px;
    overflow-y: hidden;
    position: fixed;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &:hover {
        overflow-y: overlay;
    }

}

