.wrapper {
    width: var(--sidebar-width);   
    top: var(--default-layout-header-height);
    bottom: 0;
    background-color: white;
    padding: 20px 4px 26px 8px;
    position: fixed;
    overflow: hidden;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &:hover {
        overflow-y: overlay;
    }

}

.seperate {
    width: 332px;
    height: 0.7px;
    background-color: var(--border-sperate-color);
    margin-top: 10px;
    margin-left: 8px;
}